nav{
  width: 100%;
  margin:0;
  padding:0;
  position: relative;
}

input {
  width: 80%;
}

.schedule-page {
  margin: 20px;
  height: 100vh;
}

#title {
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  font-size: 30px;
  margin: 0px;
  padding-top: 20px;
}

#para {
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  font-size: 15px;
  margin: 0px;
}

#topbar {
  position: relative;
  /* top: 0; */
  display: flex;
  justify-content: space-evenly ;
  background-color: white;
  padding: 15px;
  margin: 20px;
  display: flex;
  align-items: center;
  border: 1px solid black;
  border-radius: 20px;
}

#search-button {
  border: none;
  margin:0px;
  padding:0px;
  background-color: white;
}

#home-pg{
  display: flex;
  flex-direction: column;
}

#home-content {
  width: 100%;
  height: 100%;
  display: flex;
}

#sidebar {
  /* margin-right: 20px;
  margin-bottom: 15px; */
  margin: 15px;
  position: relative;
  width: 20%;
  background-color: white;
  text-decoration: none;
  color: black;
  padding: 10px;
  border: 1px solid black;
  border-radius: 20px;
}

.places {
  border: 1px solid black;
  border-radius: 5px;
  margin:7px;
  padding:4px;
  text-decoration: none;
  color: black; 
}

.places a{
  text-decoration: none;
  color:black;
  font-size:20;
}

#overall-rec-list {
  display: flex;
  justify-content: space-evenly;
}

#flight-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#rec-list {
  display: flex;
  flex-direction: row;
  /* justify-content: flex-end; */
  align-items: stretch;
}

.rec {
  border: 1px solid black;
  border-radius: 5px;
  margin:20px;
  padding:20px;
  text-decoration: none;
  color: black; 
  flex: 5;
  text-align: center;
  line-height: 20px;
}

#button-list {
  display: flex;
  justify-content: space-evenly;
  margin: 40px;
}

button {
  border: 2px solid black;
  border-radius: 5px;
  margin:7px;
  padding:4px;
  background-color: palegreen;
}

/* <!-- HTML !-->
<button class="button-56" role="button">Button 56</button> */

/* CSS */
.button-spec {
  align-items: center;
  background-color: #B8F8FE;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-family: Inter,sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-spec:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.button-spec:hover:after {
  transform: translate(0, 0);
}

.button-spec:active {
  background-color: #B8F8FE;
  outline: 0;
}

.button-spec:hover {
  outline: 0;
  background-color: #D7FBFE;
}

@media (min-width: 768px) {
  .button-spec {
    padding: 0 40px;
  }
}

button:hover {
  background-color: yellow;
}

#review, .flight_inbound , .flight_outbound {
  border: 2px solid black;
  border-radius: 5px;
  margin:7px;
  padding:10px;
  text-align: left;
}


.profile-button {
  border-radius: 50%;  
  width: 30px;         
  height:30px;        
  border: none;     
  margin:0;
  background-color: black;
  color: white;      
  cursor: pointer;    
  outline: none;   
  float: right;
  margin-right: 10px;
  margin-top: 10px;
}

.profile-button:hover {
  background-color: #0056b3; /* Darker shade on hover for visual feedback */
}

.login-container {
  height: 100vh; 
  width: 100vw; 
  display: flex;
  justify-content: center; 
  align-items: center; 
  background-image: url('/public/logoroam.jpg'); 
  background-size: cover; 
  background-position: center; 
}

.login-form {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

h3 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
}

h1, h2, h3 {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#inner-flight-boxes {
  display: flex;
  flex-direction: row;
}

#done-button {
  bottom: 0;
  position: absolute;
}