.App {
  padding: 0;
  margin: 0;
  border: 2px red;
}

#topbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* Ensure top bar is above other content */
  background-color: aliceblue;
  padding: 30px;
}

#home-pg {
  /* height: 100vh; */
  display: flex;
  border: 2px red;
  margin-top: 100px; 
}

#map {
  border: 5px solid red;
  flex-grow: 1;
  width: 35%;
}

#sidebar {
  z-index: 100000;
  border: 5px solid red;
  flex-grow: 1;
  background-color: azure;
}