nav{
  width: 100%;
  margin:0;
  padding:0;
  position: relative;
}

input {
  width: 80%;
}

#title {
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  font-size: 30px;
  margin: 0px;
  padding-top: 20px;
}

#topbar {
  position: relative;
  /* top: 0; */
  display: flex;
  justify-content: space-evenly ;
  background-color: white;
  padding: 15px;
  margin: 20px;
  display: flex;
  align-items: center;
  border: 1px solid black;
  border-radius: 20px;
}

#search-button {
  border: none;
  margin:0px;
  padding:0px;
  background-color: white;
}

#home-pg{
  display: flex;
  flex-direction: column;
}

#home-content {
  width: 100%;
  height: 100%;
  display: flex;
}

#sidebar {
  /* margin-right: 20px;
  margin-bottom: 15px; */
  margin: 15px;
  position: relative;
  width: 20%;
  background-color: white;
  text-decoration: none;
  color: black;
  padding: 10px;
  border: 1px solid black;
  border-radius: 20px;
}

.places {
  border: 2px solid black;
  border-radius: 5px;
  margin:7px;
  padding:4px;
  text-decoration: none;
  color: black; 
}

.places a{
  text-decoration: none;
  color:black;
  font-size:20;
}

#overall-rec-list {
  display: flex;
  justify-content: space-evenly;
}

#rec-list, #flight-list {
  display: flex;
  flex-direction: row;
  /* justify-content: flex-end; */
  align-items: stretch;
}

.rec {
  border: 1px solid black;
  border-radius: 5px;
  margin:20px;
  padding:20px;
  text-decoration: none;
  color: black; 
  flex: 5;
  text-align: center;
  line-height: 20px;
}

#button-list {
  display: flex;
  justify-content: space-evenly;
}

button {
  border: 2px solid black;
  border-radius: 5px;
  margin:7px;
  padding:4px;
  background-color: palegreen;
}

button:hover {
  background-color: yellow;
}

#review, .flight_inbound , .flight_outbound {
  border: 2px solid black;
  border-radius: 5px;
  margin:7px;
  padding:10px;
  text-align: left;
}


.profile-button {
  border-radius: 50%;  
  width: 30px;         
  height:30px;        
  border: none;     
  margin:0;
  background-color: black;
  color: white;      
  cursor: pointer;    
  outline: none;   
  float: right;
  margin-right: 10px;
  margin-top: 10px;
}

.profile-button:hover {
  background-color: #0056b3; /* Darker shade on hover for visual feedback */
}

.login-container {
  height: 100vh; 
  width: 100vw; 
  display: flex;
  justify-content: center; 
  align-items: center; 
  background-image: url('/public/logoroam.jpg'); 
  background-size: cover; 
  background-position: center; 
}

.login-form {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

h3 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
}
